@import "./fonts.css";
@import "tailwindcss";

@layer utilities{
    .bg-home-desktop{
        background-image: url("/public/images/headerBgDesktop.webp");
    }
    .product{
        background:url("/public/images/body-bg.png");
        main::before {
            content: "";
            position: absolute;
            inset: 0;
            background-image: inherit;
            background-size: inherit;
            background-position: inherit;
            filter: blur(8px);
            z-index: -1;
            transform: scale(1.1); /* جلوگیری از بریدگی لبه‌ها */
        }
    }
    .banner_one{
        background: linear-gradient(270deg,rgba(0, 0, 0, 0.6) 33.85%, rgba(243, 244, 246, 0.1)), url("/public/images/categories/category-right.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        }


    .banner_two{
        background: linear-gradient(270deg,rgba(0, 0, 0, 0.6) 33.85%, rgba(243, 244, 246, 0.1)), url("/public/images/categories/category-left.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --font-iransans: IRANSansX;
    --color-brown-100: #ECE0D1;
    --color-brown-300: #DBC1AC;
    --color-brown-600: #967259;
    --color-brown-900: #634832;
    --shadow-normal: 0 1px 10px rgb(0, 0, 0, .05);
    --radius-4xl: 2rem;
    --tracking-ti: 50em;
    --breakpoint-xs: 480px;
}
@layer base{
    html{
        scroll-behavior: smooth;
    }
}
@utility continer{
    @apply mx-auto px-4 lg:px-7
}
@utility countainer{
    @apply mx-auto lg:px-7
}
@layer components{
    .section-title{
        @apply text-[17px] md:text-[26px] font-bold text-zinc-800 dark:text-white tracking-ti
    }
    .section-sub-title{
        @apply inline-block tracking-ti text-sm md:text-[17px] font-medium text-zinc-700 dark:text-white  mt-0.5 md:mt-1.5
    }
    .section-link{
        @apply text-base font-semibold
    }
    .offer{
    @apply relative
    }
    .offer::after{
        content:"";
        width: 100%;
        height: 1px;
        background: #99a1af;
        position: absolute;
        justify-content: center;
    }
    .ltr{
        direction: ltr;
        text-align: left;
    }
    .tailwind-input{
        @apply w-full shadow rounded-lg p-2 mb-2 ring-1  dark:ring-white/20 focus:ring-green-500 dark:focus:ring-green-400 outline-0 duration-300 transition-all focus:pr-4 ring-slate-200 dark:text-white focus:shadow text-sm sm:text-base
    }
    .btn-more{
        @apply bg-green-500 hover:bg-green-600 text-white transition-all text-center flex items-center justify-center rounded-lg
    }
    .custom-input::-webkit-outer-spin-button,
    .custom-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .cl-checkbox {
        position: relative;
        display: inline-block;
    }

    /* Input */
    .cl-checkbox > input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        z-index: -1;
        position: absolute;
        left: -10px;
        top: -8px;
        display: block;
        margin: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: none;
        outline: none;
        opacity: 0;
        transform: scale(1);
        pointer-events: none;
        transition: opacity 0.3s, transform 0.2s;
    }

    /* Span */
    .cl-checkbox > span {
        display: inline-block;
        width: 100%;
        cursor: pointer;
    }

    /* Box */
    .cl-checkbox > span::before {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        margin: 3px 11px 3px 1px;
        border: solid 2px;
        /* Safari */
        border-color: rgba(0, 0, 0, 0.6);
        border-radius: 2px;
        width: 18px;
        height: 18px;
        vertical-align: top;
        transition: border-color 0.2s, background-color 0.2s;
    }

    /* Checkmark */
    .cl-checkbox > span::after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 1px;
        width: 10px;
        height: 5px;
        border: solid 2px transparent;
        border-right: none;
        border-top: none;
        transform: translate(3px, 4px) rotate(-45deg);
    }

    /* Checked, Indeterminate */
    .cl-checkbox > input:checked,
    .cl-checkbox > input:indeterminate {
        background-color: #10b981;
    }

    .cl-checkbox > input:checked + span::before,
    .cl-checkbox > input:indeterminate + span::before {
        border-color: #10b981;
        background-color: #10b981;
    }

    .cl-checkbox > input:checked + span::after,
    .cl-checkbox > input:indeterminate + span::after {
        border-color: #fff;
    }

    .cl-checkbox > input:indeterminate + span::after {
        border-left: none;
        transform: translate(4px, 3px);
    }

    /* Hover, Focus */
    .cl-checkbox:hover > input {
        opacity: 0.04;
    }

    .cl-checkbox > input:focus {
        opacity: 0.12;
    }

    .cl-checkbox:hover > input:focus {
        opacity: 0.16;
    }

    /* Active */
    .cl-checkbox > input:active {
        opacity: 1;
        transform: scale(0);
        transition: transform 0s, opacity 0s;
    }

    .cl-checkbox > input:active + span::before {
        border-color: #85b8b7;
    }

    .cl-checkbox > input:checked:active + span::before {
        border-color: transparent;
        background-color: rgba(0, 0, 0, 0.6);
    }

    /* Disabled */
    .cl-checkbox > input:disabled {
        opacity: 0;
    }

    .cl-checkbox > input:disabled + span {
        color: rgba(0, 0, 0, 0.38);
        cursor: initial;
    }

    .cl-checkbox > input:disabled + span::before {
        border-color: currentColor;
    }

    .cl-checkbox > input:checked:disabled + span::before,
    .cl-checkbox > input:indeterminate:disabled + span::before {
        border-color: transparent;
        background-color: currentColor;
    }

    /* The switch - the box around the slider */
    .switch {
        font-size: 13px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border: 1px solid #adb5bd;
        transition: 0.4s;
        border-radius: 30px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.27em;
        bottom: 0.25em;
        background-color: #adb5bd;
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: #10b981;
        border: 1px solid #10b981;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #10b981;
    }

    input:checked + .slider:before {
        transform: translateX(1.4em);
        background-color: #fff;
    }
    .main-swiper-pagination{
@apply absolute left-1/2 transform -translate-x-1/2 -bottom-1.5 flex items-center justify-center w-36 h-9 bg-gray-50 dark:bg-zinc-800 rounded-t-lg z-10
    }
    .header:after{
        content: "";
        width: 10px;
        height: 25px;
        display: block;
        position: absolute;
        top: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .header-store:before{
        content: "";
        width: 40px;
        height: 26px;
        display: block;
        position: absolute;
        top: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .sub-menu{
        @apply flex-col gap-y-2 text-zinc-700 dark:text-gray-100 pr-4 mt-4 hidden transition-all duration-300
    }
    .sub-menu-active{
        @apply relative text-orange-300 pr-5
    }
    .sub-menu-active:after{
        position: absolute;
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #fdba74;
        right: 8px;
        bottom: 8px;
        margin: auto;

    }
    .submenu--open{
        @apply flex
    }
}